<div class="form-container">
  <h2>{{ isEdit ? 'Editando Usuário' : 'Novo Usuário' }}</h2>
  
  <form [formGroup]="formGroup">
    
    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuário (Login)</mat-label>
        <input matInput formControlName="username" placeholder="Ex: joaosilva">
        <mat-error *ngIf="formGroup.get('username')?.hasError('required')">
          Obrigatório
        </mat-error>
        <mat-error *ngIf="formGroup.get('username')?.hasError('minlength')">
          Mínimo de 3 caracteres
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" [placeholder]="isEdit ? 'Deixe em branco para manter' : ''">
        <mat-error *ngIf="formGroup.get('senha')?.hasError('required')">
          Obrigatória na criação
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-button color="warn" (click)="excluir()" *ngIf="isEdit">Excluir</button>
      <a routerLink="/usuarios/list" mat-button>Cancelar</a>
      <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
    </div>

  </form>
</div>
