<div class="form-container">
  <h2>{{ isEditMode ? 'Editando Fornecedor' : 'Novo Fornecedor' }}</h2>

  <mat-stepper [linear]="false" orientation="vertical" #stepper>
    
    <mat-step [stepControl]="empresaForm">
      <form [formGroup]="empresaForm">
        <ng-template matStepLabel>Dados da Empresa</ng-template>
        <div style="margin-top: 20px;"></div>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Razão Social</mat-label>
          <input matInput formControlName="nome" placeholder="Ex: Panini Comics">
          <mat-error *ngIf="empresaForm.get('nome')?.hasError('required')">Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome Fantasia</mat-label>
          <input matInput formControlName="nomeFantasia">
        </mat-form-field>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>CNPJ</mat-label>
            <input matInput formControlName="cnpj" placeholder="Apenas números">
            <mat-error>CNPJ inválido</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="contato@empresa.com">
            <mat-error>Email inválido</mat-error>
          </mat-form-field>
        </div>

        <div class="form-actions">
          <button mat-button color="warn" *ngIf="isEditMode" (click)="excluir()">Excluir</button>
          <button mat-flat-button color="primary" matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="contatoForm">
      <form [formGroup]="contatoForm">
        <ng-template matStepLabel>Localização e Contato</ng-template>
        <div style="margin-top: 20px;"></div>

        <div formGroupName="endereco">
          <div class="row">
            <mat-form-field appearance="outline" style="width: 120px;">
              <mat-label>CEP</mat-label>
              <input matInput formControlName="cep" (blur)="buscarCep()" maxlength="8">
            </mat-form-field>

            <mat-form-field appearance="outline" style="flex: 1;">
              <mat-label>Rua</mat-label>
              <input matInput formControlName="rua">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100px;">
              <mat-label>Nº</mat-label>
              <input matInput id="numeroInputForn" formControlName="numero">
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="telefone" class="row">
            <mat-form-field appearance="outline" style="width: 90px;">
              <mat-label>DDD</mat-label>
              <input matInput formControlName="codigoArea" maxlength="2">
            </mat-form-field>
  
            <mat-form-field appearance="outline" style="flex: 1;">
              <mat-label>Número</mat-label>
              <input matInput formControlName="numero">
            </mat-form-field>
        </div>

        <div class="form-actions">
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="accent" (click)="salvar()">SALVAR FORNECEDOR</button>
        </div>
      </form>
    </mat-step>

  </mat-stepper>
</div>
