.dashboard-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 40px;
}

.dashboard-header h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.dashboard-header p {
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.dashboard-card {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: var(--header-bg-color);
  color: var(--text-light-color);
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--shadow-color);
  background-color: #3c3c3c;
}

.card-icon {
  margin-right: 20px;
}

.card-icon img {
  width: 60px; /* Tamanho ajustado */
  height: 60px;
  filter: invert(1); /* Deixa o ícone branco */
}

.card-title h2 {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
}

.card-title p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}