<div class="form-container">
  <h2>{{ isEditMode ? 'Editando Quadrinho' : 'Novo Quadrinho' }}</h2>

  <form [formGroup]="formGroup">
    <div class="form-grid" style="grid-template-columns: 2fr 1fr;"> <div class="form-column">
        <div class="form-field">
          <label>Título</label>
          <input type="text" formControlName="nome">
          <small class="error-msg" *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
            Obrigatório.
          </small>
        </div>

        <div class="form-field">
          <label>Descrição</label>
          <textarea formControlName="descricao" rows="5"></textarea>
          <small class="error-msg" *ngIf="formGroup.get('descricao')?.invalid && formGroup.get('descricao')?.touched">
            Obrigatório.
          </small>
        </div>

        <div class="form-row">
            <div class="form-field full-width">
                <label>Preço (R$)</label>
                <input type="number" formControlName="preco">
            </div>
            <div class="form-field full-width">
                <label>Estoque</label>
                <input type="number" formControlName="estoque">
            </div>
        </div>

        <div class="form-field">
          <label>Fornecedor</label>
          <select formControlName="idFornecedor">
            <option [ngValue]="null" disabled>Selecione...</option>
            <option *ngFor="let f of fornecedores" [ngValue]="f.id">{{ f.nome }}</option>
          </select>
        </div>

        <div class="form-field">
          <label>Material</label>
          <select formControlName="idMaterial">
            <option [ngValue]="null" disabled>Selecione...</option>
            <option *ngFor="let m of materiais" [ngValue]="m.id">{{ m.nome }}</option>
          </select>
        </div>
      </div>
   
      <div class="form-column">
        <div class="image-upload-card">
            <label>Capa do Quadrinho</label>
            <div *ngIf="imagePreview" class="image-preview">
                <img [src]="imagePreview" alt="Prévia">
            </div>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" style="margin-top: 10px;">
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button (click)="salvar()" [disabled]="formGroup.invalid" class="btn-primary">Salvar</button>
      <button (click)="excluir()" *ngIf="isEditMode" class="btn-danger">Excluir</button>
      <a routerLink="/quadrinhos/list" class="btn-secondary">Cancelar</a>
    </div>
  </form>
</div>