<div class="form-container">
  <h2>{{ isEdit ? 'Editando Cliente' : 'Novo Cliente' }}</h2>
  
  <mat-stepper [linear]="false" orientation="vertical" #stepper>
    
    <mat-step [stepControl]="pessoalForm">
        <form [formGroup]="pessoalForm">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <div style="margin-top: 20px;"></div>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
                <mat-error *ngIf="pessoalForm.get('nome')?.hasError('required')">Obrigatório</mat-error>
            </mat-form-field>
            
            <div class="row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf">
                    <mat-error>11 dígitos</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>Email inválido</mat-error>
                </mat-form-field>
            </div>
            <div class="form-actions">
                <button mat-button color="warn" *ngIf="isEdit" (click)="excluir()">Excluir</button>
                <button mat-flat-button color="primary" matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="acessoForm">
        <form [formGroup]="acessoForm">
            <ng-template matStepLabel>Login</ng-template>
            <div style="margin-top: 20px;"></div>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
                <mat-error>Mínimo 3 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha">
                <mat-error *ngIf="!isEdit">Obrigatória</mat-error>
            </mat-form-field>
            <div class="form-actions">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-flat-button color="primary" matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="contatoForm">
        <form [formGroup]="contatoForm">
            <ng-template matStepLabel>Endereço e Contato</ng-template>
            <div style="margin-top: 20px;"></div>

            <div formGroupName="endereco">
                <div class="row">
                    <mat-form-field appearance="outline" style="width: 120px;">
                        <mat-label>CEP</mat-label>
                        <input matInput formControlName="cep" (blur)="buscarCep()">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="flex: 1;">
                        <mat-label>Rua</mat-label>
                        <input matInput formControlName="rua">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100px;">
                        <mat-label>Nº</mat-label>
                        <input matInput formControlName="numero">
                    </mat-form-field>
                </div>
            </div>

            <div formGroupName="telefone" class="row">
                <mat-form-field appearance="outline" style="width: 90px;">
                    <mat-label>DDD</mat-label>
                    <input matInput formControlName="codigoArea">
                </mat-form-field>
                <mat-form-field appearance="outline" style="flex: 1;">
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="numero">
                </mat-form-field>
            </div>

            <div class="form-actions">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button color="accent" (click)="salvar()">SALVAR CLIENTE</button>
            </div>
        </form>
    </mat-step>

  </mat-stepper>
</div>
