<div class="table-container">
  
        <div class="search-row">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Pesquisar por nome ou descrição</mat-label>
        <input matInput [(ngModel)]="q" (keyup.enter)="pesquisar()" />
        <mat-icon matPrefix>search</mat-icon>
        <button *ngIf="q" mat-icon-button matSuffix aria-label="Limpar" (click)="q=''; pesquisar()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="pesquisar()">
        <mat-icon>search</mat-icon>
        Pesquisar
      </button>
    </div>

  
    <table>
      <thead>
        <tr>
          <th>Capa</th>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Estoque</th>
          <th>Fornecedor</th>
          <th *ngIf="authService.isFuncionario()">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quadrinho of quadrinhos">
          <td>
            <img [src]="getImageUrl(quadrinho.nomeImagem)" alt="Capa de {{quadrinho.nome}}" class="capa-quadrinho">
          </td>
          <td>{{ quadrinho.id }}</td>
          <td>{{ quadrinho.nome }}</td>
          <td>{{ quadrinho.preco | currency:'BRL' }}</td>
          <td>{{ quadrinho.estoque }}</td>
          <td>{{ quadrinho.fornecedor.nome }}</td>
          <td *ngIf="authService.isFuncionario()">
            <a [routerLink]="['/quadrinhos/edit', quadrinho.id]" class="btn-sm btn-secondary">Editar</a>
            <button (click)="excluir(quadrinho)" class="btn-sm btn-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

      <!-- >>> AQUI FICA O PAGINATOR (logo abaixo da tabela) -->
  <mat-paginator
    [length]="length"
    [pageIndex]="page"
    [pageSize]="pageSize"
    [pageSizeOptions]="[6, 12, 24, 48]"
    (page)="paginar($event)">
  </mat-paginator>


  </div>